In [71]:
# 데이터 처리
import pandas as pd
# 행렬 연산
import numpy as np
# 데이터 시각화
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
# 선형 회귀분석모델 formula(y ~ X1 + X2 + ...)
import statsmodels.formula.api as smf
# 회귀분석의 정규성 확인
from statsmodels.api import qqplot

# 실행결과 경고메시지 출력 제외
import warnings

warnings.filterwarnings('ignore')

# 유니코드 깨짐현상 해결
mpl.rcParams['axes.unicode_minus'] = False

# 나눔고딕 폰트 적용
plt.rcParams["font.family"] = 'NanumGothic'

In [72]:
# 45 Page
# 데이터 구성:Series, DataFrame
import pandas as pd
# 행렬 연산
import numpy as np
# 데이터 시각화
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
# 선형 회귀모델 formula(y ~ X1 + X2 + ...)
import statsmodels.formula.api as smf
# 잔차의 정규성 확인 :qqplot, 회귀분석의 상수항 추가 : add_constant
from statsmodels.api import qqplot, add_constant
# 다중공선성 확인
from statsmodels.stats.outliers_influence import variance_inflation_factor
# 학습용/평가용 데이터 분리:train, test
from sklearn.model_selection import train_test_split
# 선형회귀모형
from sklearn.linear_model import LinearRegression
# 변수 선택법(후진제거법)
from sklearn.feature_selection import RFE
# Scale 변환->표준화 회귀계수 산출
from sklearn.preprocessing import StandardScaler
# 평가함수
from sklearn.metrics import r2_score

In [73]:
df = pd.read_csv("./CU_찐최종.csv")
df.columns

Index(['idUser', 'Gender', 'Age', 'AgeGroup', 'Recency', 'Frequency',
       'Monetary', 'RFM_Score', '2022_Cus_Grade1', '2022_Cus_Grade2',
       '2023_Cus_Grade1', '2023_Cus_Grade2', '2022 상반기_고객등급', '2022 하반기_고객등급',
       '2023 상반기_고객등급', '2023 하반기_고객등급', 'Visit_Score', 'SalesDate', 'SalesDT',
       'Year', 'Month', 'Day', 'WeekdayName', 'Hour', 'ItemId', 'idPOS',
       'ItemNameLarge', 'ItemNameMiddle', 'ItemName', 'Item_CatORMaker',
       'ImageUrl', 'Price', 'Sales_Day', 'Sales_Month', 'Sales_Year',
       'PayUnit_Equal_Day', 'PayUnit_Diff_Day', 'PayUnit_Equal_Month',
       'PayUnit_Diff_Month', 'PayUnit_Equal_Year', 'PayUnit_Diff_Year',
       'TempAvg', 'TempMin', 'hhmiTempMin', 'TempMax', 'hhmiTempMax',
       'Temp_Var', 'hourRainfall', 'RainfallAmount', 'HumidAvg', 'SnowloadMax',
       'hhmiSnowloadMax', 'Discomfort_Grade'],
      dtype='object')

In [74]:
df['SalesDate']

0         2022-01-02
1         2022-01-02
2         2022-01-06
3         2022-01-09
4         2023-04-13
             ...
498002    2023-01-07
498003    2023-01-08
498004    2023-01-08
498005    2023-01-13
498006    2023-01-13
Name: SalesDate, Length: 498007, dtype: object

In [75]:
# 중복된 모든 행 확인하기
duplicates = df[df.duplicated()]

print("중복 데이터 개수:")
print(len(duplicates))

중복 데이터 개수:
0

In [76]:
df1 = df.copy()

In [77]:
# 'SalesDate' 칼럼을 datetime 형태로 변환
df1['SalesDate'] = pd.to_datetime(df1['SalesDate'])

# 월 정보 추출
df1['Month'] = df1['SalesDate'].dt.to_period('M')

# idPOS, Month, Gender별로 중복 제거
unique_visits = df1.drop_duplicates(subset=['idPOS', 'Month', 'Gender'])

# 월별, 성별로 그룹화하여 각각의 고객 수 계산
monthly_gender_visits = unique_visits.groupby(['Month', 'Gender'])['idPOS'].count().unstack(fill_value=0)

# monthly_gender_visits 데이터프레임에서 남성 및 여성 고객 수를 df1에 매핑하기 위해
# df1의 'Month' 칼럼을 기준으로 join을 수행합니다.
# 먼저 monthly_gender_visits의 인덱스를 컬럼으로 리셋합니다.
monthly_gender_visits_reset = monthly_gender_visits.reset_index()

# 'Month' 칼럼을 기준으로 df1과 monthly_gender_visits_reset를 merge합니다.
# 이 때, left_on과 right_on 파라미터를 사용하여 'Month' 칼럼을 기준으로 합니다.
# 'how' 파라미터는 'left'로 설정하여 df1의 모든 행이 유지되도록 합니다.
df1 = pd.merge(df1, monthly_gender_visits_reset, how='left', left_on='Month', right_on='Month')

# 결과적으로 merge된 데이터프레임에는 '남성' 및 '여성' 칼럼이 추가됩니다.
# 이 칼럼들의 이름을 '월별남자고객수', '월별여자고객수'로 변경합니다.
df1.rename(columns={'남성': '월별남자고객수', '여성': '월별여자고객수'}, inplace=True)

# 최종 데이터프레임 확인
print(df1.head())

    idUser Gender  Age AgeGroup  Recency  Frequency  Monetary  RFM_Score  \
0  U100001     남성   43      40대    1.000      0.000     0.000      0.000
1  U100001     남성   43      40대    1.000      0.000     0.000      0.000
2  U100001     남성   43      40대    1.000      0.000     0.000      0.000
3  U100001     남성   43      40대    1.000      0.000     0.000      0.000
4  U100277     여성   33      30대    0.001      0.298     0.218      0.616

  2022_Cus_Grade1 2022_Cus_Grade2  ... hhmiTempMax Temp_Var hourRainfall  \
0             브론즈             NaN  ...        1551      8.2         4.17
1             브론즈             NaN  ...        1551      8.2         4.17
2             브론즈             NaN  ...        1604      9.2         0.00
3             브론즈             NaN  ...        1522      6.8         0.00
4             NaN             NaN  ...        1512     12.1         0.25

  RainfallAmount HumidAvg SnowloadMax hhmiSnowloadMax Discomfort_Grade  \
0            0.3     57.9         0.5           655.0               낮음
1            0.3     57.9         0.5           655.0               낮음
2            0.0     47.1         0.0             0.0               낮음
3            0.0     71.5         0.0             0.0               낮음
4            0.0     45.0         0.0             0.0               낮음

  월별남자고객수  월별여자고객수
0    4410     1760
1    4410     1760
2    4410     1760
3    4410     1760
4    5678     2321

[5 rows x 55 columns]

In [78]:
monthly_gender_visits.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 24 entries, 2022-01 to 2023-12
Freq: M
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   남성      24 non-null     int64
 1   여성      24 non-null     int64
dtypes: int64(2)
memory usage: 576.0 bytes

In [80]:
df1

idUser                                                           U100001
Gender                                                                남성
Age                                                                   43
AgeGroup                                                             40대
Recency                                                              1.0
Frequency                                                            0.0
Monetary                                                             0.0
RFM_Score                                                            0.0
2022_Cus_Grade1                                                      브론즈
2022_Cus_Grade2                                                      NaN
2023_Cus_Grade1                                                      NaN
2023_Cus_Grade2                                                      NaN
2022 상반기_고객등급                                                        브론즈
2022 하반기_고객등급                                                    Unknown
2023 상반기_고객등급                                                    Unknown
2023 하반기_고객등급                                                    Unknown
Visit_Score                                                         일반고객
SalesDate                                            2022-01-02 00:00:00
SalesDT                                                         19:08:12
Year                                                                2022
Month                                                            2022-01
Day                                                                    2
WeekdayName                                                          일요일
Hour                                                                  19
ItemId                                                   I-8809253648470
idPOS                                              U100001-POS2022-10004
ItemNameLarge                                                         음료
ItemNameMiddle                                                      PB음료
ItemName                                                   22del)헤이즐넛향1L
Item_CatORMaker                                                  delaffe
ImageUrl               https://tqklhszfkvzk6518638.cdn.ntruss.com/pro...
Price                                                               3500
Sales_Day                                                         775400
Sales_Month                                                     44004160
Sales_Year                                                     750308990
PayUnit_Equal_Day                                               6515.966
PayUnit_Diff_Day                                                6304.065
PayUnit_Equal_Month                                            62328.839
PayUnit_Diff_Month                                              7131.955
PayUnit_Equal_Year                                            971902.837
PayUnit_Diff_Year                                               7272.409
TempAvg                                                             -1.3
TempMin                                                             -5.2
hhmiTempMin                                                       2356.0
TempMax                                                              3.0
hhmiTempMax                                                         1551
Temp_Var                                                             8.2
hourRainfall                                                        4.17
RainfallAmount                                                       0.3
HumidAvg                                                            57.9
SnowloadMax                                                          0.5
hhmiSnowloadMax                                                    655.0
Discomfort_Grade                                                      낮음
월별남자고객수                                                             4410
월별여자고객수                                                             1760
Name: 0, dtype: object

In [84]:
# 'Month' 칼럼을 기준으로 그룹화하고 각 그룹의 크기(행 수) 계산
month_df = df1.groupby('Month').size().reset_index(name='Count')

del month_df['Count']

# 결과 출력
print(month_df)

      Month
0   2022-01
1   2022-02
2   2022-03
3   2022-04
4   2022-05
5   2022-06
6   2022-07
7   2022-08
8   2022-09
9   2022-10
10  2022-11
11  2022-12
12  2023-01
13  2023-02
14  2023-03
15  2023-04
16  2023-05
17  2023-06
18  2023-07
19  2023-08
20  2023-09
21  2023-10
22  2023-11
23  2023-12

In [93]:
df1['ItemNameLarge'].unique()

array(['음료', '식품', '과자류', '즉석조리', '간편식사', '아이스크림'], dtype=object)

In [100]:
# 'Month'와 'ItemNameLarge'를 기준으로 데이터를 그룹화하고, 각 그룹의 크기를 계산합니다.
result = df1.groupby(['Month', 'ItemNameLarge']).size().reset_index(name='판매개수')

# 결과를 pivot_table을 사용하여 월별로 'ItemNameLarge'의 판매 개수를 나타내는 데이터 프레임으로 변환
pivot_df = result.pivot_table(index='Month', columns='ItemNameLarge', values='판매개수', fill_value=0)

pivot_df=pivot_df.reset_index()

# 결과 출력
print(pivot_df.columns)

Index(['Month', '간편식사', '과자류', '식품', '아이스크림', '음료', '즉석조리'], dtype='object', name='ItemNameLarge')

In [102]:
# 'Month'와 'ItemNameLarge'를 기준으로 데이터를 그룹화하고, 각 그룹의 크기를 계산합니다.
result2 = df1.groupby(['Month', 'ItemNameMiddle']).size().reset_index(name='판매개수')

# 결과를 pivot_table을 사용하여 월별로 'ItemNameLarge'의 판매 개수를 나타내는 데이터 프레임으로 변환
pivot_df2 = result2.pivot_table(index='Month', columns='ItemNameMiddle', values='판매개수', fill_value=0)

pivot_df2=pivot_df2.reset_index()

# 결과 출력
print(pivot_df2.columns)

Index(['Month', 'PB음료', '가공식', '껌/초콜릿', '도시락', '베이커리', '빵/디저트', '샌드위치', '스낵',
       '식재료', '아이스크림', '안주류', '유제품', '음료', '주먹밥', '즉석커피', '커피', '튀김류'],
      dtype='object', name='ItemNameMiddle')

In [131]:
discomfort_mapping = {
    '낮음': 1,
    '보통': 2,
    '높음': 3,
    '매우 높음': 4
}

df1['Discomfort_Score'] = df1['Discomfort_Grade'].map(discomfort_mapping)

# 'Month' 별로 'Discomfort_Score'의 평균값 계산
monthly_discomfort_avg = df1.groupby('Month')['Discomfort_Score'].mean().reset_index(name='Discomfort_Avg')
month_temp_avg = df1.groupby('Month')['TempAvg'].mean().reset_index(name='TempAvg')
month_temp_var = df1.groupby('Month')['Temp_Var'].mean().reset_index(name='Temp_Var')
month_humid_avg = df1.groupby('Month')['HumidAvg'].mean().reset_index(name='HumidAvg')
# 결과 확인
print(month_humid_avg)

      Month   HumidAvg
0   2022-01  55.344780
1   2022-02  55.184743
2   2022-03  61.569481
3   2022-04  54.863347
4   2022-05  55.318765
5   2022-06  73.892342
6   2022-07  77.183336
7   2022-08  80.708606
8   2022-09  67.964760
9   2022-10  68.626318
10  2022-11  64.681024
11  2022-12  59.374681
12  2023-01  62.879705
13  2023-02  58.678656
14  2023-03  50.573452
15  2023-04  61.004434
16  2023-05  61.706589
17  2023-06  73.237898
18  2023-07  80.790174
19  2023-08  76.476964
20  2023-09  73.236832
21  2023-10  66.496431
22  2023-11  64.955735
23  2023-12  68.095921

In [123]:
weather_df = pd.read_csv('./cvs_weather.csv',encoding='euc-kr')
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AreaId           790 non-null    int64
 1   Area             790 non-null    object
 2   dateObs          790 non-null    object
 3   TempAvg          790 non-null    float64
 4   TempMin          789 non-null    float64
 5   hhmiTempMin      789 non-null    float64
 6   TempMax          790 non-null    float64
 7   hhmiTempMax      790 non-null    int64
 8   hourRainfall     322 non-null    float64
 9   RainfallAmount   323 non-null    float64
 10  HumidAvg         790 non-null    float64
 11  SnowloadMax      65 non-null     float64
 12  hhmiSnowloadMax  65 non-null     float64
dtypes: float64(9), int64(2), object(2)
memory usage: 80.4+ KB

In [124]:
weather_df['RainfallAmount'] = weather_df['RainfallAmount'].fillna(0)
weather_df['hourRainfall'] = weather_df['hourRainfall'].fillna(0)

In [126]:
# 'dateObs' 칼럼을 datetime 타입으로 변환
weather_df['dateObs'] = pd.to_datetime(weather_df['dateObs'])

# 'YearMonth' 칼럼 생성 (연도와 월만 추출)
weather_df['YearMonth'] = weather_df['dateObs'].dt.to_period('M')

# 'YearMonth' 기준으로 그룹화하고 'RainfallAmount'의 합계 계산
monthly_rainfall = weather_df.groupby('YearMonth')['RainfallAmount'].sum().reset_index(name='TotalRainfall')

# 결과 확인
print(monthly_rainfall)

   YearMonth  TotalRainfall
0    2022-01            5.5
1    2022-02            4.7
2    2022-03          102.6
3    2022-04           20.4
4    2022-05            7.5
5    2022-06          393.8
6    2022-07          252.3
7    2022-08          564.8
8    2022-09          201.5
9    2022-10          124.1
10   2022-11           84.5
11   2022-12           13.6
12   2023-01           47.9
13   2023-02            1.0
14   2023-03           10.5
15   2023-04           96.9
16   2023-05          155.6
17   2023-06          195.6
18   2023-07          459.9
19   2023-08          298.1
20   2023-09          134.5
21   2023-10           31.0
22   2023-11           81.9
23   2023-12           85.9
24   2024-01           18.9
25   2024-02           74.7

In [127]:
# 'dateObs' 칼럼을 datetime 타입으로 변환
weather_df['dateObs'] = pd.to_datetime(weather_df['dateObs'])

# 'YearMonth' 칼럼 생성 (연도와 월만 추출)
weather_df['YearMonth'] = weather_df['dateObs'].dt.to_period('M')

# 'YearMonth' 기준으로 그룹화하고 'RainfallAmount'의 합계 계산
monthly_rainfall2 = weather_df.groupby('YearMonth')['hourRainfall'].sum().reset_index(name='TotalhourRainfall')

# 결과 확인
print(monthly_rainfall2)

   YearMonth  TotalhourRainfall
0    2022-01              42.43
1    2022-02              28.75
2    2022-03              72.32
3    2022-04              41.41
4    2022-05              21.00
5    2022-06             137.15
6    2022-07             101.81
7    2022-08             189.42
8    2022-09              62.93
9    2022-10              68.82
10   2022-11              35.82
11   2022-12              56.74
12   2023-01             104.80
13   2023-02              13.51
14   2023-03              15.16
15   2023-04             108.40
16   2023-05              95.17
17   2023-06              90.68
18   2023-07             156.35
19   2023-08             151.18
20   2023-09             115.49
21   2023-10              24.50
22   2023-11              72.41
23   2023-12             141.71
24   2024-01              75.42
25   2024-02             150.57

In [133]:
# 'dateObs' 칼럼을 datetime 타입으로 변환
weather_df['dateObs'] = pd.to_datetime(weather_df['dateObs'])

# 'YearMonth' 칼럼 생성 (연도와 월만 추출)
weather_df['YearMonth'] = weather_df['dateObs'].dt.to_period('M')

# 'YearMonth' 기준으로 그룹화하고 'RainfallAmount'의 합계 계산
monthly_humid = weather_df.groupby('YearMonth')['HumidAvg'].mean().reset_index(name='HumidAvg')

# 결과 확인
print(monthly_humid)

   YearMonth   HumidAvg
0    2022-01  55.212903
1    2022-02  54.696429
2    2022-03  61.932258
3    2022-04  55.030000
4    2022-05  55.335484
5    2022-06  73.376667
6    2022-07  77.232258
7    2022-08  80.170968
8    2022-09  68.090000
9    2022-10  68.887097
10   2022-11  64.390000
11   2022-12  58.919355
12   2023-01  63.303226
13   2023-02  58.900000
14   2023-03  51.241935
15   2023-04  59.933333
16   2023-05  62.493548
17   2023-06  72.433333
18   2023-07  81.074194
19   2023-08  76.351613
20   2023-09  73.483333
21   2023-10  66.477419
22   2023-11  64.503333
23   2023-12  69.348387
24   2024-01  66.561290
25   2024-02  72.948276

In [134]:
for i in range(len(month_df)):
    month_value = month_df.iloc[i]['Month']
    month_df.loc[i,'월별남자고객수'] = df1[df1['Month']==month_value]['월별남자고객수'].values[0]
    month_df.loc[i,'월별여자고객수'] = df1[df1['Month']==month_value]['월별여자고객수'].values[0]
    month_df.loc[i,'Discomfort_Avg'] = monthly_discomfort_avg[monthly_discomfort_avg['Month']==month_value]['Discomfort_Avg'].values[0]
    month_df.loc[i,'TempAvg'] = month_temp_avg[month_temp_avg['Month']==month_value]['TempAvg'].values[0]
    month_df.loc[i,'Temp_Var'] = month_temp_var[month_temp_var['Month']==month_value]['Temp_Var'].values[0]
    month_df.loc[i,'TotalRainfall'] = monthly_rainfall[monthly_rainfall['YearMonth']==month_value]['TotalRainfall'].values[0]
    month_df.loc[i,'TotalhourRainfall'] = monthly_rainfall2[monthly_rainfall2['YearMonth']==month_value]['TotalhourRainfall'].values[0]
    month_df.loc[i,'HumidAvg'] = monthly_humid[monthly_humid['YearMonth']==month_value]['HumidAvg'].values[0]
    month_df.loc[i,'PayUnit_Equal_Month'] = df1[df1['Month']==month_value]['PayUnit_Equal_Month'].values[0]
    month_df.loc[i,'(대)간편식사_판매량'] = pivot_df[pivot_df['Month']==month_value]['간편식사'].values[0]
    month_df.loc[i,'(대)과자류_판매량'] = pivot_df[pivot_df['Month']==month_value]['과자류'].values[0]
    month_df.loc[i,'(대)식품_판매량'] = pivot_df[pivot_df['Month']==month_value]['식품'].values[0]
    month_df.loc[i,'(대)아이스크림_판매량'] = pivot_df[pivot_df['Month']==month_value]['아이스크림'].values[0]
    month_df.loc[i,'(대)음료_판매량'] = pivot_df[pivot_df['Month']==month_value]['음료'].values[0]
    month_df.loc[i,'(대)즉석조리_판매량'] = pivot_df[pivot_df['Month']==month_value]['즉석조리'].values[0]
    month_df.loc[i,'(중)PB음료_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['PB음료'].values[0]
    month_df.loc[i,'(중)가공식_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['가공식'].values[0]
    month_df.loc[i,'(중)껌/초콜릿_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['껌/초콜릿'].values[0]
    month_df.loc[i,'(중)도시락_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['도시락'].values[0]
    month_df.loc[i,'(중)베이커리_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['베이커리'].values[0]
    month_df.loc[i,'(중)빵/디저트_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['빵/디저트'].values[0]
    month_df.loc[i,'(중)샌드위치_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['샌드위치'].values[0]
    month_df.loc[i,'(중)스낵_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['스낵'].values[0]
    month_df.loc[i,'(중)식재료_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['식재료'].values[0]
    month_df.loc[i,'(중)아이스크림_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['아이스크림'].values[0]
    month_df.loc[i,'(중)안주류_판매량'] = pivot_df2[pivot_df2['Month']==month_value]['안주류'].values[0]
    month_df.loc[i,'월별_매출액'] = df1[df1['Month']==month_value]['Sales_Month'].values[0]
    
# 결과 출력
print(month_df)

      Month  월별남자고객수  월별여자고객수  PayUnit_Equal_Month  간편식사 판매량  과자류 판매량  식품 판매량  \
0   2022-01   4410.0   1760.0            62328.839    1156.0   4219.0  5497.0
1   2022-02   3432.0   1430.0            50497.221     928.0   3241.0  4245.0
2   2022-03   5277.0   2138.0            73401.980    1392.0   4843.0  6374.0
3   2022-04   5623.0   2265.0            80152.760    1440.0   4993.0  7100.0
4   2022-05   6387.0   2584.0            90379.095    1612.0   5608.0  8110.0
5   2022-06   6630.0   2648.0            93645.970    1733.0   5796.0  8320.0
6   2022-07   6818.0   2744.0            95609.481    1759.0   6087.0  8618.0
7   2022-08   7493.0   3023.0           107543.306    1878.0   6620.0  9467.0
8   2022-09   7069.0   2880.0           102877.847    1867.0   6347.0  8881.0
9   2022-10   7640.0   3032.0           106315.165    1924.0   6689.0  9463.0
10  2022-11   6820.0   2750.0            94425.056    1818.0   6251.0  8443.0
11  2022-12   5968.0   2357.0            79833.490    1554.0   5713.0  7536.0
12  2023-01   4767.0   1894.0            61606.867    1248.0   4573.0  5839.0
13  2023-02   3673.0   1495.0            48788.070     962.0   3383.0  4446.0
14  2023-03   5412.0   2244.0            72127.601    1412.0   5113.0  6555.0
15  2023-04   5678.0   2321.0            76613.115    1456.0   5134.0  7238.0
16  2023-05   6770.0   2811.0            89144.330    1716.0   6120.0  8713.0
17  2023-06   6942.0   2908.0            91705.820    1758.0   6262.0  8744.0
18  2023-07   7347.0   2948.0            95996.584    1874.0   6420.0  9436.0
19  2023-08   7722.0   3147.0            99972.983    1931.0   6891.0  9723.0
20  2023-09   7395.0   3076.0            98887.488    1898.0   6732.0  9399.0
21  2023-10   7795.0   3246.0           101772.170    1978.0   7161.0  9758.0
22  2023-11   6995.0   2937.0            88921.288    1826.0   6418.0  8507.0
23  2023-12   5739.0   2426.0            76879.313    1505.0   5465.0  7313.0

    아이스크림 판매량  음료 판매량  즉석조리 판매량  ...  (중)스낵_판매량  (중)식재료_판매량  (중)아이스크림_판매량  \
0       640.0  2345.0     368.0  ...     1353.0      1935.0         640.0
1       601.0  1949.0     257.0  ...     1080.0      1384.0         601.0
2      1115.0  3051.0     411.0  ...     1639.0      2218.0        1115.0
3      1203.0  3326.0     482.0  ...     1649.0      2399.0        1203.0
4      1469.0  4037.0     507.0  ...     1950.0      2744.0        1469.0
5      1522.0  4259.0     517.0  ...     2016.0      2746.0        1522.0
6      1551.0  4330.0     560.0  ...     2055.0      2887.0        1551.0
7      1732.0  5009.0     578.0  ...     2352.0      3157.0        1732.0
8      1599.0  4585.0     555.0  ...     2192.0      3000.0        1599.0
9      1605.0  4628.0     598.0  ...     2339.0      3161.0        1605.0
10     1040.0  3920.0     550.0  ...     2117.0      2888.0        1040.0
11      784.0  3122.0     498.0  ...     1915.0      2530.0         784.0
12      942.0  2451.0     404.0  ...     1541.0      2091.0         942.0
13      793.0  2073.0     304.0  ...     1104.0      1522.0         793.0
14     1207.0  3236.0     441.0  ...     1704.0      2363.0        1207.0
15     1297.0  3400.0     464.0  ...     1758.0      2496.0        1297.0
16     1524.0  4364.0     572.0  ...     2074.0      2904.0        1524.0
17     1656.0  4687.0     522.0  ...     2149.0      3015.0        1656.0
18     1713.0  4842.0     577.0  ...     2283.0      3207.0        1713.0
19     1771.0  4960.0     618.0  ...     2392.0      3235.0        1771.0
20     1826.0  4903.0     630.0  ...     2356.0      3234.0        1826.0
21     1810.0  4831.0     632.0  ...     2447.0      3285.0        1810.0
22     1484.0  3961.0     637.0  ...     2151.0      2951.0        1484.0
23     1215.0  3075.0     453.0  ...     1846.0      2472.0        1215.0

    (중)안주류_판매량    TempAvg   Temp_Var  TotalRainfall  TotalhourRainfall  \
0        930.0  -2.241842   8.864724            5.5              42.43
1        750.0  -0.962178   9.312432            4.7              28.75
2       1050.0   7.804358   9.780519          102.6              72.32
3       1413.0  14.710451  10.445637           20.4              41.41
4       1687.0  19.233112  11.192447            7.5              21.00
5       1644.0  23.164501   7.681551          393.8             137.15
6       1782.0  27.320729   6.696734          252.3             101.81
7       1985.0  25.708480   5.579006          564.8             189.42
8       1732.0  22.242146   9.185034          201.5              62.93
9       1939.0  14.377288   9.568427          124.1              68.82
10      1427.0  10.197453   9.739887           84.5              35.82
11      1448.0  -2.607773   8.349867           13.6              56.74
12       898.0  -1.743974   8.873171           47.9             104.80
13       732.0   2.299164   9.200109            1.0              13.51
14      1111.0   9.919873  12.108962           10.5              15.16
15      1398.0  13.788925   9.946274           96.9             108.40
16      1778.0  19.716259  10.796154          155.6              95.17
17      1760.0  23.285306   7.881692          195.6              90.68
18      1903.0  26.777170   6.440612          459.9             156.35
19      1972.0  27.146563   6.438862          298.1             151.18
20      1911.0  23.629679   7.490653          134.5             115.49
21      1914.0  15.824463   9.447872           31.0              24.50
22      1467.0   6.927451   8.647120           81.9              72.41
23      1484.0   1.136024   7.974351           85.9             141.71

     HumidAvg      월별_매출액
0   55.212903  44004160.0
1   54.696429  35247060.0
2   61.932258  52629220.0
3   55.030000  57790140.0
4   55.335484  65886360.0
5   73.376667  68080620.0
6   77.232258  69986140.0
7   80.170968  77753810.0
8   68.090000  74072050.0
9   68.887097  77397440.0
10  64.390000  67986040.0
11  58.919355  59475950.0
12  63.303226  48176570.0
13  58.900000  37420450.0
14  51.241935  55610380.0
15  59.933333  59758230.0
16  62.493548  71850330.0
17  72.433333  73272950.0
18  81.074194  77565240.0
19  76.351613  80778170.0
20  73.483333  79109990.0
21  66.477419  81621280.0
22  64.503333  71137030.0
23  69.348387  60427140.0

[24 rows x 34 columns]